/* Main Header Styling */
.dashboardHeader {
    width: 100%;
    height: auto;
    background-color: #F0E5FC;
    border-bottom: 1px solid black;
    position: relative;
}

.dashboardHeaderImage {
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto\9;
    display: block;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-width: 760px;
    justify-content: center;
    align-items: center;
}

.userInformation {
    display: flex;
    flex-direction: row;
    min-width: 760px;
    max-width: 760px;
    margin: 5px; 
    background-color: #F0E5FC;
    border: 1px solid #AAA0B4;
}

.userInformationLeft {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    width: 25%;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.userProfileImage {
    display: flex;
    max-width: 360px;
    max-height: 360px;
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid #AAA0B4;
    margin-bottom: 5px;
}

.userProfileImage img {
    min-width: 356px;
    min-height: 356px;
    max-width: 356px;
    max-height: 358px;
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid #AAA0B4;
    margin: 1px;
}

.userImg {
    height: 198px;
    width: 198px;
}

.simpleUserInfo {
    width: 360px;
    max-width: 360px;
    min-width: 200px;
    background-color: white;
    border: 1px solid #AAA0B4;
}

.userInformationRight {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.favouritesInfo, .userBiography  {
    background-color: white;
    border: 1px solid #AAA0B4;
    margin-bottom: 5px;;
}

.editProfileButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Copied over for delete/promote buttons*/
.buttonContainer {
    display: flex;
    width: 75%;
    margin: 20px; 
    justify-content: center;
}

/*Styling for shared dashboard components involving submissions */
.submitPending {
    background-color: #F0E5FC;
    min-width: 760px;
    max-width: 760px;
    display: flex;
    flex-direction: row;
    border: 1px solid #AAA0B4;
}

.submitDescription {
    flex-basis: 33%;
    height: 100px;
    min-width: 100px;
    margin: 5px 5px 5px 10px;
}

.pendingTableContainer {
    display: flex;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    align-content: center;
    justify-content: top;
    flex-basis: 67%;
    background-color: white;
    border: 1px solid #AAA0B4;
}

.submitDescriptionButton {
    background-color: #ffffff;
    color: #6B5F77 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: 800 !important;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.submitDescriptionButton:hover, .submitDescriptionButton:focus {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    background-color: #F0E5FC;
    text-decoration: none;
}

.adminArea {
    background-color: #F0E5FC;
    display: flex;
    flex-direction: row;
    min-width: 760px;
    max-width: 760px;
    margin: 5px;
    border: 1px solid #AAA0B4;
}

.flagTable {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px 5px 5px 10px;
    background-color: white;
    flex-basis: 50%;
    width: auto;
    border: 1px solid #AAA0B4;
}

.descriptionReview {
    display: flex;
    margin: 5px 10px 5px 0px;
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-basis: 50%;
    width: auto;
    border: 1px solid #AAA0B4;
}

.adminContainer
{
    min-width: 760px;
    max-width: 760px;
    display: flex;
    justify-content: left;
    align-self: center;
    justify-self: center;
}

.adminHeading {
    display: flex;
    color: #6B5F77;
    text-align: left;
    text-decoration: underline;
    font-size: xx-large;
    font-weight: bold;
}

.attributeHeader {
    font-weight: bold;
    line-height: 1.8;
}

td, th {
    padding-right: 10px;
    text-align: center;
}

th {
    border-bottom: 1px solid black;
}

table {
    width: 100%;
    justify-self: top;
    text-align: center;
    border-collapse: collapse;
}