/* Outer box that will contain all inside elements of this page
*/
.pageAllignment {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 20px;
}

/* these will be used to contain the description and the flagged 
review, simple box with border which will just display text. Inside
text should not be centered.
*/
.textBox {
    display: flex;
    text-align: left;
    width: 75%;
    border: 1px solid #AAA0B4;
    background-color: #F5F0F9;
    padding: 5px;
}

/* contains the images on the page, images should align with the
page itself and appear in a row.
*/
.imageBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
    width: 75%;
    justify-content: center;
}

/* class for images themselves
*/
.image {
    display: flex;
    width: 200px;
    border: 1px solid #AAA0B4;
    background-color: #F5F0F9;
    margin-right: 20px;
    padding: 5px;
}