.alignmentContainer {
    display: flex;
    justify-content: center;
}

.signupContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    min-width: 760px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
    width: fit-content;
    border: 1px solid #AAA0B4;
    background-color: #F5F0F9;
    overflow: 0;
}

.rowContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    padding-left: 30px;
    margin-top: 10px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 250px;
    max-width: 250px;
}

label {
    width: 160px;
}

.errorMessage {
    width: fit-content;
}

.bioBoxBig {
    height: 300px;
    min-width: 300px
}

.submitButton {
    margin-left: 160px;
}

input, select {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border: 1px solid #AAA0B4;
    border-radius: 3px;
    padding: 5px;
}

.submitButton:hover, .submitButton:focus {
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    background-color: #dac5f1;
    text-decoration: none;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}