/* contains rows of (3) games */
.rowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

/*Small game box for search results and index*/
.smallGameBox {
    border: 1px solid #AAA0B4;
    background-color: #F5F0F9;
    width: 33%;
    margin: 0.15%;
    text-align: center;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
}

.topContainer
{
    margin-bottom: auto;
    height: 225px;
}

.bottomContainer
{
    margin-top: auto;
    height: fit-content;
}
